In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [4]:
def name_gen():
    name_xx = ''
    for i in range(5):
        letter = chr(random.randint(97,122)) #아스키코드에서 문자 
        range
        name_xx = name_xx + letter
    return name_xx

In [5]:
name_gen()

'chunh'

In [24]:
names = [ name_gen() for i in range(10)]
weights = [ random.randint(45,101) for xx in names]
heights = [ random.randint(150, 190) for xx in names]

In [25]:
BMI_table = pd.DataFrame({
    '이름' : names,
    '몸무게' : weights,
    '키' : heights
})

In [26]:
BMI_table

      이름  몸무게    키
0  dgmjd   50  161
1  myzwp   52  177
2  oucta   50  152
3  ibfwd   90  163
4  ndzer   51  181
5  fhdzf  100  172
6  qvkjv   87  162
7  adios   68  158
8  fxfze  100  178
9  lduxn   59  168

In [27]:
#BMI구하기
#몸무게 / 키(/100) ** 2

In [28]:
BMI_table['BMI'] = BMI_table['몸무게'] / (BMI_table['키'] / 100) ** 2

In [29]:
BMI_table

      이름  몸무게    키        BMI
0  dgmjd   50  161  19.289379
1  myzwp   52  177  16.598040
2  oucta   50  152  21.641274
3  ibfwd   90  163  33.874064
4  ndzer   51  181  15.567290
5  fhdzf  100  172  33.802055
6  qvkjv   87  162  33.150434
7  adios   68  158  27.239224
8  fxfze  100  178  31.561672
9  lduxn   59  168  20.904195

In [30]:
def health_info(h_index):
    if h_index < 20:
        return '저체중'
    elif h_index >= 20 and h_index <= 24:
        return '정상'
    elif h_index >= 24 and h_index <= 29:
        return '과체중'
    else:
        return '비만'

In [31]:
for xx in BMI_table['BMI']:
    print(xx, "======>", health_info(xx))

19.28937926777516 ======> 저체중
16.59804015448945 ======> 저체중
21.641274238227147 ======> 정상
33.87406375851557 ======> 비만
15.567290375751655 ======> 저체중
33.802055164954034 ======> 비만
33.15043438500228 ======> 비만
27.239224483255885 ======> 과체중
31.561671506122963 ======> 비만
20.904195011337873 ======> 정상

In [34]:
BMI_table['health'] = 1 #외워두기 일종의 테크닉. 인덱스가 없기때문에 만들기 위한 방법
for idx, info in enumerate(BMI_table['BMI']):
    if health_info(idx) == '저체중':
        BMI_table.health[idx] = '저체중'
    elif health_info(idx) == '정상':
        BMI_table.health[idx] = '정상'
    elif health_info(idx) == '과체중': 
        BMI_table.health[idx] = '과체중'
    elif health_info(idx) == '비만': 
        BMI_table.health[idx] = '비만'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [35]:
# list comprehension기법으로 만들기
test = [health_info(xx) for xx in BMI_table['BMI']]
print(test)

['저체중', '저체중', '정상', '비만', '저체중', '비만', '비만', '과체중', '비만', '정상']

In [37]:
BMI_table.drop(columns='health', axis=0, inplace=True)

In [38]:
BMI_table

      이름  몸무게    키        BMI
0  dgmjd   50  161  19.289379
1  myzwp   52  177  16.598040
2  oucta   50  152  21.641274
3  ibfwd   90  163  33.874064
4  ndzer   51  181  15.567290
5  fhdzf  100  172  33.802055
6  qvkjv   87  162  33.150434
7  adios   68  158  27.239224
8  fxfze  100  178  31.561672
9  lduxn   59  168  20.904195

In [39]:
BMI_table['health'] = [health_info(xx) for xx in BMI_table['BMI']]

In [40]:
BMI_table

      이름  몸무게    키        BMI health
0  dgmjd   50  161  19.289379    저체중
1  myzwp   52  177  16.598040    저체중
2  oucta   50  152  21.641274     정상
3  ibfwd   90  163  33.874064     비만
4  ndzer   51  181  15.567290    저체중
5  fhdzf  100  172  33.802055     비만
6  qvkjv   87  162  33.150434     비만
7  adios   68  158  27.239224    과체중
8  fxfze  100  178  31.561672     비만
9  lduxn   59  168  20.904195     정상

In [41]:
BMI_table.drop(columns='health', axis=0, inplace=True)

In [42]:
BMI_table

      이름  몸무게    키        BMI
0  dgmjd   50  161  19.289379
1  myzwp   52  177  16.598040
2  oucta   50  152  21.641274
3  ibfwd   90  163  33.874064
4  ndzer   51  181  15.567290
5  fhdzf  100  172  33.802055
6  qvkjv   87  162  33.150434
7  adios   68  158  27.239224
8  fxfze  100  178  31.561672
9  lduxn   59  168  20.904195

In [45]:
BMI_table['health'] = BMI_table.apply(lambda x : health_info(x['BMI']), axis=1)

In [46]:
BMI_table

      이름  몸무게    키        BMI health
0  dgmjd   50  161  19.289379    저체중
1  myzwp   52  177  16.598040    저체중
2  oucta   50  152  21.641274     정상
3  ibfwd   90  163  33.874064     비만
4  ndzer   51  181  15.567290    저체중
5  fhdzf  100  172  33.802055     비만
6  qvkjv   87  162  33.150434     비만
7  adios   68  158  27.239224    과체중
8  fxfze  100  178  31.561672     비만
9  lduxn   59  168  20.904195     정상

In [47]:
#fancy indexing에 대해 알아보기

In [48]:
#컬럼 순서 변경하는 방법
BMI_table[['이름', '키', '몸무게', 'BMI', 'health']]

      이름    키  몸무게        BMI health
0  dgmjd  161   50  19.289379    저체중
1  myzwp  177   52  16.598040    저체중
2  oucta  152   50  21.641274     정상
3  ibfwd  163   90  33.874064     비만
4  ndzer  181   51  15.567290    저체중
5  fhdzf  172  100  33.802055     비만
6  qvkjv  162   87  33.150434     비만
7  adios  158   68  27.239224    과체중
8  fxfze  178  100  31.561672     비만
9  lduxn  168   59  20.904195     정상

In [49]:
#원본에 저장은 안됨 만약 바꾸고 싶다면 assign하기
BMI_table

      이름  몸무게    키        BMI health
0  dgmjd   50  161  19.289379    저체중
1  myzwp   52  177  16.598040    저체중
2  oucta   50  152  21.641274     정상
3  ibfwd   90  163  33.874064     비만
4  ndzer   51  181  15.567290    저체중
5  fhdzf  100  172  33.802055     비만
6  qvkjv   87  162  33.150434     비만
7  adios   68  158  27.239224    과체중
8  fxfze  100  178  31.561672     비만
9  lduxn   59  168  20.904195     정상

In [50]:
BMI_table = BMI_table[['이름', '키', '몸무게', 'BMI', 'health']]

In [51]:
BMI_table

      이름    키  몸무게        BMI health
0  dgmjd  161   50  19.289379    저체중
1  myzwp  177   52  16.598040    저체중
2  oucta  152   50  21.641274     정상
3  ibfwd  163   90  33.874064     비만
4  ndzer  181   51  15.567290    저체중
5  fhdzf  172  100  33.802055     비만
6  qvkjv  162   87  33.150434     비만
7  adios  158   68  27.239224    과체중
8  fxfze  178  100  31.561672     비만
9  lduxn  168   59  20.904195     정상

In [52]:
#원하는 컬럼들만 가져올 수 있음
new_table = BMI_table[['이름', '키']]

In [53]:
new_table

      이름    키
0  dgmjd  161
1  myzwp  177
2  oucta  152
3  ibfwd  163
4  ndzer  181
5  fhdzf  172
6  qvkjv  162
7  adios  158
8  fxfze  178
9  lduxn  168

In [54]:
#updade
BMI_table['health2'] = '개똥이'
index = 0
for xx in BMI_table['BMI']:
    BMI_table.iloc[index, -1] = health_info(xx)
    index = index + 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [55]:
BMI_table

      이름    키  몸무게        BMI health health2
0  dgmjd  161   50  19.289379    저체중     저체중
1  myzwp  177   52  16.598040    저체중     저체중
2  oucta  152   50  21.641274     정상      정상
3  ibfwd  163   90  33.874064     비만      비만
4  ndzer  181   51  15.567290    저체중     저체중
5  fhdzf  172  100  33.802055     비만      비만
6  qvkjv  162   87  33.150434     비만      비만
7  adios  158   68  27.239224    과체중     과체중
8  fxfze  178  100  31.561672     비만      비만
9  lduxn  168   59  20.904195     정상      정상

In [59]:
#저체중만 접근하고 싶다면
BMI_table.iloc[2,4]

'정상'